body{
    margin: 0;
    overflow: hidden;
}

#grid{
    width: 100%;
    margin: 0;
}

.row{
    width: 100%;
    margin: 0;
    display: flex;
}

.barrier{
    background-color: black;
}

.start{
    background-color: orange;
}

.end{
    background-color: teal;
}

.path{
    background-color: purple;
}

.closed{
    background-color: red;
}

.open{
    background-color: lightgreen;
}